{% extends 'base.html' %}

{% block title %} About To-Do List {% endblock %}

{% block content %}
<h1><center>𝓐𝓫𝓸𝓾𝓽 𝓣𝓸-𝓓𝓸 𝓛𝓲𝓼𝓽</center></h1>
<p style="font-size:19px; background-color: rgba(255, 255, 255, 0.6);">
    𝒲𝑒 𝒶𝓁𝓁 𝒽𝒶𝓋𝑒 𝓉𝒽𝑜𝓈𝑒 𝓌𝒽𝑒𝓃 𝓌𝑒 𝒽𝒶𝓋𝑒 𝓂𝒾𝓁𝓁𝒾𝑜𝓃𝓈 𝑜𝒻 𝓉𝒽𝒾𝓃𝑔𝓈 𝓉𝑜 𝒹𝑜, 𝓈𝓂𝒶𝓁𝓁 𝒶𝓃𝒹
    𝒷𝒾𝑔 𝓉𝒶𝓈𝓀𝓈, 𝒶𝓃𝒹 𝓌𝑒 𝒽𝒶𝓋𝑒 𝓃𝑜 𝒾𝒹𝑒𝒶 𝒽𝑜𝓌 𝓌𝑒’𝓁𝓁 𝑔𝑒𝓉 𝒾𝓉 𝒹𝑜𝓃𝑒. 𝒯𝒽𝑒 𝓉𝑜-𝒹𝑜 𝓁𝒾𝓈𝓉
    𝒶𝓅𝓅 𝒸𝑜𝓂𝑒𝓈 𝒻𝑜𝓇 𝓉𝒽𝑒 𝓇𝑒𝓈𝒸𝓊𝑒. 𝐼 𝓂𝒶𝒹𝑒 𝓉𝑜-𝒹𝑜 𝓁𝒾𝓈𝓉𝓈 𝓂𝑜𝓈𝓉𝓁𝓎 𝒶𝓃𝒹 𝐼 𝒸𝒶𝓃 𝓈𝒶𝓎
    𝓉𝒽𝒶𝓉 𝓌𝒽𝑒𝓃 𝐼 𝒶𝓂 𝓉𝒽𝑒 𝓂𝑜𝓈𝓉 𝓅𝓇𝑜𝒹𝓊𝒸𝓉𝒾𝓋𝑒, 𝐼’𝓂 𝒻𝑜𝓁𝓁𝑜𝓌𝒾𝓃𝑔 𝒶 𝓉𝑜-𝒹𝑜 𝓁𝒾𝓈𝓉. 𝒯𝒽𝑒
    𝓉𝑜-𝒹𝑜 𝓁𝒾𝓈𝓉 𝒾𝓈 𝒾𝓃𝓋𝒶𝓁𝓊𝒶𝒷𝓁𝑒. 𝐻𝑒𝓇𝑒 𝒶𝓇𝑒 𝓉𝒽𝑒 𝓉𝑜𝓅 𝒻𝒾𝓋𝑒 𝒷𝑒𝓃𝑒𝒻𝒾𝓉𝓈 𝑜𝒻 𝓊𝓈𝒾𝓃𝑔
    𝓉𝒽𝑒𝓂. <br><br>1. 𝐻𝑒𝓁𝓅𝓈 𝓎𝑜𝓊 𝑔𝑒𝓉 𝑜𝓇𝑔𝒶𝓃𝒾𝓏𝑒𝒹 𝒪𝓇𝑔𝒶𝓃𝒾𝓏𝒾𝓃𝑔 𝓎𝑜𝓊𝓇 𝓉𝒶𝓈𝓀𝓈 𝒸𝒶𝓃 𝓂𝒶𝓀𝑒
    𝑒𝓋𝑒𝓇𝓎𝓉𝒽𝒾𝓃𝑔 𝓂𝑜𝓇𝑒 𝓂𝒶𝓃𝒶𝑔𝑒𝒶𝒷𝓁𝑒. 𝒲𝒽𝑒𝓃 𝓎𝑜𝓊’𝓋𝑒 𝑔𝑜𝓉 𝓈𝑒𝓋𝑒𝓇𝒶𝓁 𝓅𝓇𝑜𝒿𝑒𝒸𝓉𝓈
    𝓇𝓊𝓃𝓃𝒾𝓃𝑔, 𝓎𝑜𝓊 𝒶𝓇𝑒 𝓁𝒾𝓀𝑒𝓁𝓎 𝓉𝑜 𝓁𝑜𝓈𝑒 𝓉𝓇𝒶𝒸𝓀 𝑜𝒻 𝓌𝒽𝒶𝓉 𝓃𝑒𝑒𝒹𝓈 𝓉𝑜 𝒷𝑒 𝒹𝑜𝓃𝑒 𝒶𝓉
    𝒸𝑒𝓇𝓉𝒶𝒾𝓃 𝓉𝒾𝓂𝑒𝓈. 𝒯𝒽𝑒 𝓉𝑜-𝒹𝑜 𝓁𝒾𝓈𝓉 𝒶𝓅𝓅𝓈 𝓌𝒾𝓁𝓁 𝒽𝑒𝓁𝓅 𝓎𝑜𝓊 𝑔𝑒𝓉 𝑜𝓇𝑔𝒶𝓃𝒾𝓏𝑒𝒹
    𝓌𝒾𝓉𝒽 𝒶 𝑔𝓇𝑒𝒶𝓉 𝓉𝑜-𝒹𝑜 𝓁𝒾𝓈𝓉 𝒶𝓅𝓅 𝒶𝓈 𝓎𝑜𝓊 𝓈𝑒𝓉 𝒶𝓃 𝑜𝓊𝓉𝓁𝒾𝓃𝑒 𝑜𝒻 𝒸𝑜𝓂𝓅𝓁𝑒𝓉𝑒𝒹 𝒶𝓃𝒹
    𝓊𝓃𝒸𝑜𝓂𝓅𝓁𝑒𝓉𝑒𝒹 𝓉𝒶𝓈𝓀𝓈 𝒶𝓃𝒹 𝑒𝓃𝓈𝓊𝓇𝑒 𝓉𝒽𝒶𝓉 𝓃𝑜𝓉𝒽𝒾𝓃𝑔 𝑔𝑒𝓉𝓈 𝓁𝑒𝒻𝓉 𝓊𝓃𝒹𝑜𝓃𝑒.
    <br><br>2. 𝐻𝑒𝓁𝓅𝓈 𝓎𝑜𝓊 𝓀𝑒𝑒𝓅 𝓉𝓇𝒶𝒸𝓀 𝑜𝒻 𝓎𝑜𝓊𝓇 𝓁𝒾𝒻𝑒 𝒜𝓃 𝑜𝓋𝑒𝓇𝓌𝒽𝑒𝓁𝓂𝒾𝓃𝑔 𝓉𝑜-𝒹𝑜 𝓁𝒾𝓈𝓉 𝒸𝒶𝓃
    𝓂𝒶𝓀𝑒 𝓎𝑜𝓊 𝑜𝓋𝑒𝓇𝓌𝒽𝑒𝓁𝓂𝑒𝒹. 𝒯𝒽𝑒 𝓉𝑜-𝒹𝑜 𝒶𝓅𝓅𝓈 𝒶𝓇𝑒 𝒽𝑒𝓁𝓅𝒻𝓊𝓁 𝓉𝑜 𝓀𝑒𝑒𝓅 𝓉𝒽𝑒
    𝒸𝑜𝓂𝓂𝒾𝓉𝓂𝑒𝓃𝓉𝓈 𝒶𝓉 𝓌𝑜𝓇𝓀 𝒶𝓃𝒹 𝓌𝒾𝓉𝒽 𝒻𝒶𝓂𝒾𝓁𝒾𝑒𝓈, 𝓉𝑜 𝓀𝑒𝑒𝓅 𝓉𝒽𝒾𝓃𝑔𝓈 𝑜𝓇𝑔𝒶𝓃𝒾𝓏𝑒𝒹
    𝒾𝓃 𝒶 𝓌𝒶𝓎 𝓉𝒽𝒶𝓉 𝒾𝓉 𝒹𝑜𝑒𝓈𝓃’𝓉 𝓂𝑒𝓈𝓈 𝓊𝓅 𝓎𝑜𝓊𝓇 𝓉𝒾𝓂𝑒 𝒻𝑜𝓇 𝓎𝑜𝓊𝓇 𝒻𝒶𝓂𝒾𝓁𝓎. <br><br>3. 𝒦𝑒𝑒𝓅𝓈
    𝓎𝑜𝓊 𝓂𝑜𝓉𝒾𝓋𝒶𝓉𝑒𝒹 𝒯𝒽𝑒 𝓉𝑜-𝒹𝑜 𝓁𝒾𝓈𝓉𝓈 𝒶𝓇𝑒 𝒶 𝓊𝓈𝑒𝒻𝓊𝓁 𝓂𝑜𝓉𝒾𝓋𝒶𝓉𝒾𝑜𝓃𝒶𝓁 𝓉𝑜𝑜𝓁 𝓉𝑜
    𝒸𝓁𝒶𝓇𝒾𝒻𝓎 𝓉𝒽𝑒 𝓅𝓇𝑜𝒿𝑒𝒸𝓉 𝑔𝑜𝒶𝓁𝓈. 𝐻𝒶𝓋𝒾𝓃𝑔 𝑔𝑜𝒶𝓁𝓈 𝒾𝓈 𝒶 𝑔𝓇𝑒𝒶𝓉 𝓈𝓉𝑒𝓅 𝓉𝑜 𝓈𝓊𝒸𝒸𝑒𝓈𝓈
    𝒷𝓊𝓉 𝓉𝒶𝓀𝒾𝓃𝑔 𝓈𝓉𝑒𝓅𝓈 𝓉𝑜 𝒶𝒸𝒸𝑜𝓂𝓅𝓁𝒾𝓈𝒽 𝓉𝒽𝒶𝓉 𝑔𝑜𝒶𝓁 𝒸𝒶𝓃 𝒽𝑒𝓁𝓅 𝒸𝓁𝒶𝓇𝒾𝒻𝓎 𝓎𝑜𝓊𝓇
    𝓉𝒽𝑜𝓊𝑔𝒽𝓉𝓈. <br><br>4. 𝐼𝓂𝓅𝓇𝑜𝓋𝑒𝓈 𝓎𝑜𝓊𝓇 𝓂𝑒𝓂𝑜𝓇𝓎 𝒦𝑒𝑒𝓅𝒾𝓃𝑔 𝒶 𝓉𝑜-𝒹𝑜 𝓁𝒾𝓈𝓉 𝒸𝒶𝓃 𝓀𝑒𝑒𝓅 𝒶
    𝓇𝑒𝒸𝑜𝓇𝒹 𝑜𝒻 𝓉𝒽𝒾𝓃𝑔𝓈 𝓎𝑜𝓊 𝓃𝑒𝑒𝒹 𝓉𝑜 𝒹𝑜 𝒶𝓃𝒹 𝓎𝑜𝓊 𝒸𝒶𝓃 𝑒𝒻𝒻𝑜𝓇𝓉𝓁𝑒𝓈𝓈𝓁𝓎 𝓀𝑒𝑒𝓅
    𝓈𝓅𝒶𝒸𝑒 𝒻𝑜𝓇 𝑜𝓉𝒽𝑒𝓇 𝑒𝓆𝓊𝒶𝓁𝓁𝓎 𝒾𝓂𝓅𝑜𝓇𝓉𝒶𝓃𝓉 𝓉𝒽𝑜𝓊𝑔𝒽𝓉𝓈. 𝐼𝓉 𝓂𝒶𝓀𝑒𝓈 𝒾𝓉 𝑒𝒶𝓈𝒾𝑒𝓇 𝓉𝑜
    𝓇𝑒𝓂𝑒𝓂𝒷𝑒𝓇 𝓈𝓉𝓊𝒻𝒻. <br><br>5. 𝑀𝒶𝓀𝑒𝓈 𝓎𝑜𝓊 𝒻𝑒𝑒𝓁 𝓎𝑜𝓊 𝒽𝒶𝓋𝑒 𝓁𝑒𝓈𝓈 𝓌𝑜𝓇𝓀 70 𝓅𝑒𝓇𝒸𝑒𝓃𝓉 𝑜𝒻
    𝓉𝒽𝑒 𝓌𝑜𝓇𝓀𝓁𝑜𝒶𝒹 𝓎𝑜𝓊 𝒻𝑒𝑒𝓁 𝒾𝓈 𝓉𝒽𝑒 𝑜𝓃𝑒 𝒹𝓊𝑒 𝓉𝑜 𝓅𝓇𝑜𝒸𝓇𝒶𝓈𝓉𝒾𝓃𝒶𝓉𝒾𝑜𝓃. 𝐼𝓉 𝓀𝑒𝑒𝓅𝓈
    𝑜𝓃 𝒷𝓊𝒾𝓁𝒹𝒾𝓃𝑔 𝓊𝓅. 𝐵𝓊𝓉 𝓌𝒾𝓉𝒽 𝒶 𝓉𝑜-𝒹𝑜-𝓁𝒾𝓈𝓉, 𝓎𝑜𝓊 𝑔𝑒𝓉 𝓈𝑜 𝓂𝓊𝒸𝒽 𝒹𝑜𝓃𝑒 𝒾𝓃 𝒶𝓃
    𝑜𝓇𝑔𝒶𝓃𝒾𝓏𝑒𝒹 𝓌𝒶𝓎 𝒶𝓈 𝓎𝑜𝓊 𝒸𝒶𝓃 𝓉𝒾𝒸𝓀 𝑜𝒻𝒻 𝒶𝓁𝓁 𝓎𝑜𝓊𝓇 𝒶𝒸𝒸𝑜𝓂𝓅𝓁𝒾𝓈𝒽𝓂𝑒𝓃𝓉𝓈 𝒶𝓃𝒹
    𝓎𝑜𝓊 𝓃𝑒𝑒𝒹 𝓉𝑜 𝒹𝑒𝒶𝓁 𝓌𝒾𝓉𝒽 𝒾𝓈 𝓉𝑜𝒹𝒶𝓎’𝓈 𝓌𝑜𝓇𝓀 𝑜𝓃𝓁𝓎.
</p>
{% endblock %}